<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="cooking book website">
  <meta name="author" content="Marcin Marciszewski">
  <title>Cooking Recipes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/buttons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery.datetimepicker.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
 
  
</head>
<body id="page-top">
  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark  nav-color fixed-top" id="mainNav">
    <div id="logo">
      <a class="navbar-brand js-scroll-trigger " href="{{ url_for ('homepage.index') }}"><img  src="{{ url_for('static', filename='img/logo.png')}}" alt="logo"></a>
    </div>
    {% block navbar %} {% endblock %}
    {% block carousel %} {% endblock %} 
    {% block about %} {% endblock %} 
    {% block content %} {% endblock %} 
    {% block send_message %} {% endblock %}
    {% block footer %} {% endblock %}
    <!--Message after user's action-->
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank you</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success  btn-radius " data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scrolling-nav.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js')}}"></script>
    <script>
      $('#date_posted').datetimepicker({
        timepicker: false,
        format:'Y-m-d'
      });
    </script>
</body>
</html>
