{% extends 'base.html' %} {% block content %}
</nav>
<!--Edit cuisine form-->
    <div class="container blocks">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="ml-5">Edit cuisine</h2>
                <form action="{{ url_for('update_cuisine', cuisine_id=cuisine._id) }}" method="POST">
                    <div class="form-row align-items-center mt-5">

                        <div class="col-lg-10 ml-5">
                            <label class="sr-only" for="recipe_name">Cuisine name</label>
                            <h4>Cusine name</h4>
                            <div>
                                <input type="text" class="form-control" id="cuisine_name" name="cuisine_name" value="{{ cuisine.cuisine_name }}" required>
                            </div>
                        </div>

                        <div class="col-lg-10 ml-5">
                            <button type="submit" class="btn btn-outline-primary btn-radius my-3">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Breadcrumbs-->
<div class="breadcrumb1">
    <nav aria-label="breadcrumb my-0 ">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('get_cuisines') }}">Manage Cuisines</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Cuisine: {{cuisine.cuisine_name}}</li>
        </ol>
    </nav>
</div>
{% endblock %}
