{% extends 'base.html' %} {% block content %}
</nav>
<section>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="ml-5">Edit recipe</h2>
            <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
                <div class="form-row align-items-center mt-5">

                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="recipe_name">Recipe name</label>
                        <p>Recipe name</p>
                        <div>
                            <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="cuisine_name">Cuisine</label>
                        <p>Cuisine</p>
                        <div>
                            <select class="custom-select" id="cuisine_name" name="cuisine_name">
                                    <option value="" disabled selected>Choose cuisine</option>
                                    {% for cuisine in cuisines %}
                                        {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                        <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name }}</option>
                                        {% else %}
                                        <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                                        {% endif %}
                                     {% endfor %}
                                </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="preparation_time">Preparation time</label>
                        <p>Preparation Time</p>
                        <div>
                            <input type="text" class="form-control" id="preparation_time" name="preparation_time" value="{{ recipe.preparation_time}}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="cooking_time">Cooking time</label>
                        <p>Cooking time</p>
                        <div>
                            <input type="text" class="form-control" id="cooking_time" name="cooking_time" value="{{ recipe.cooking_time }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="serves">Serves</label>
                        <p>Serves</p>
                        <div>
                            <input type="text" class="form-control" id="serves" name="serves" value="{{ recipe.serves }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="ingredients">Ingredients</label>
                        <p>Ingredients</p>
                        {% for ingredient in recipe.ingredients %}
                        <div class="flex">
                            <input type="text" class="form-control my-2" id="ingredient" name="ingredient" value="{{ingredient}}" multiple><input type="button" value="Delete" id="delete-ingredient" class="btn btn-outline-danger btn-radius my-2"/>
                        </div>
                        {% endfor %}
                        <div id="ingredients-group">
                        </div>
                        <input type="button" value="Add ingredient" id="add-ingredient" class=" btn btn-outline-primary btn-radius my-2 ml-1 "/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 ml-5">
                        <label class="sr-only" for="method">Method</label>
                        <p>Method</p>
                        {% for step in recipe.method %}
                        <div class="flex">
                            <input type="text" class="form-control my-2" id="step" name="step" value="{{ step }}" multiple><input type="button" value="Delete" id="delete-step" class="btn btn-outline-danger btn-radius  my-2"/>
                        </div>
                        {% endfor %}
                        <div id="steps-group">
                        </div>                       
                        <input type="button" value="Add step" id="add-step" class=" btn btn-outline-primary btn-radius my-2"/>
                        <button type="submit" class="btn btn-outline-success btn-radius ml-2">Save</button>
                    </div>
                </div>

                
                    
               
        </div>
        </form>
    </div>
</section>
<div>
    <nav aria-label="breadcrumb my-0 ">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Recipe: {{recipe.recipe_name}}</li>
        </ol>
    </nav>
</div>


{% endblock %}
