<!DOCTYPE html>
<html>

<head>
  <title>Cooking Recipes</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/keen-dashboards.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dc.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet">



</head>

<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Cooking Recipes Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Recipes Chart -->
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Number of Recipes
          </div>
          <div class="chart-stage">
            <div id="recipes-chart"></div>
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Numeber of Recipes </div>
          <div class="chart-stage">
            <div id="total-recipes"></div>
          </div>
        </div>
      </div>
      <!-- Cuisines -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cusines
          </div>
          <div class="chart-stage">
            <div id="cuisine-name-chart"></div>
          </div>
        </div>
      </div>
    </div>



    <!-- Preparation Time -->
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Preparation Time
          </div>
          <div class="chart-stage">
            <div id="preparation-time-chart"></div>
          </div>
        </div>
      </div>
      <!--Cooking Tine Chart-->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cooking Time
          </div>
          <div class="chart-stage">
            <div id="cooking-time-chart"></div>
          </div>
        </div>
      </div>
    </div>





    <!--Total Numeber of Recipes-->
    <div class="row">
      <div class="col-sm-6">

      </div>
    </div>

  </div>

  <hr>
  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/crossfilter.js')}}"></script>
  <script src="{{ url_for('static', filename='js/d3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dc.js')}}"></script>
  <script src="{{ url_for('static', filename='js/queue.js')}}"></script>
  <script src="{{ url_for('static', filename='js/keen.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/graphs.js')}}"></script>


</body>

</html>
